[submodule "external/bluepad32"]
	path = external/bluepad32
	url = https://github.com/ricardoquesada/bluepad32.git
    ignore = untracked
[submodule "external/mpu6050"]
	path = external/mpu6050
	url = https://github.com/Abhinaya-Restek-UNY/esp_mpu6050.git
